 <div id="product-slider">
    <!-- Лог для перевірки кількості продуктів -->
    <p>Number of products: {{ collections.all.products.size }}</p>

    <!-- Виведення лише назви кожного продукту -->
    {% for product in collections.all.products %}
      <p>{{ product.title }}</p>
    {% endfor %}
  </div>