<div id="shopify-section-template--24432609624356__featured_rotating_products" class="shopify-section">
  <div id="product-slider">
    <p>Dumping the products array:</p>
    <pre>{{ collections.all.products | json }}</pre>
  </div>
</div>